*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h2, h3, h4{
    margin-bottom: 0;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
p{
    margin-bottom: 0;
}
/* Header area start */
.navbar .container-fluid form .form-control:focus {

        color: #212529;
        background-color: #fff;
        border-color: #ddd;
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   
}
.navbar .container-fluid a.navbar-brand {
	font-weight: bold;
}
.navbar .container-fluid form input{
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}
.navbar .container-fluid form button{
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ddd;
    border-left: 0px;
}
.navbar .container-fluid ul li a{
    padding: 10px 21px;
    transition: .9s;
}
.navbar .container-fluid ul li.nav-item {
    margin-right: 10px;
}
.navbar .container-fluid ul li:last-of-type {
    margin-right: 0px;
}
.navbar .container-fluid ul li a:hover {
    border: 0 solid #e5e5e5;
	background: #ddd;
}
.nav-item {
    /* padding-top: 6px; */
}
.navbar .container-fluid ul li a i {
	color: black;
}
.navbar .container-fluid ul li:last-of-type a i {
	margin-right: 10px;
}
.nav-item a span {
	color: black;
	font-size: 16px;
}
.navlink {
    padding: 0;
}
.navlink .container-fluid{
    background-color: #fff;
    padding: 10px 0px;
}
.navlink .container-fluid ul li ul{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    /* transition: .9s; */
}
.navlink .container-fluid ul li:hover ul{
    visibility: visible;
    opacity: 1;
}
/* Header area end */

/* carousel area start */
.carousel .carousel-inner .carousel-item img{
    height: 400px;
    object-fit: cover;
}
.carousel button.carousel-control-next span.carousel-control-next-icon {
    background-color: red;
}
.carousel button.carousel-control-prev span.carousel-control-prev-icon {
    background-color: red;
}
/* carousel area end */

/* category area start */
.categories{
    
}
.categories h3 {
	padding: 20px 0 30px 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.categories .image{
    position: relative;
}
.categories .image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    /* transition: .9s; */
}
.categories .image:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.categories .image a img {
	height: 175px;
	width: 100%;
	/* object-fit: cover; */
	/* display: block; */
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	border: 2px solid #000;
}
.categories .image-content {
	text-align: center;
	/* position: absolute; */
	/* bottom: 10px; */
	/* left: 10px; */
	/* background-color: rgba(0, 0, 0, 0.6); */
	/* color: white; */
	/* padding: 5px 5px; */
	/* border-radius: 5px; */
	bottom: 0%;
	left: 50%;
	/* transform: translateX(-50%); */
	width: 100%;
    margin: 10px 0px 30px 0px;
}
.categories .image-content a {
	color: #000;
	text-transform: capitalize;
    background-color: #FF7F50;
	display: block;
	color: #000;
	transition: .9s;
	padding: 5px 0;
    font-weight: bold;
}
.categories  .image-content a:hover{
	background: #DE3163;
    color: #fff;
}

.categories .image-content span{}
/* category area end */

/* Choose area start */
.choose-us {
	margin: 40px 0px;
}
.choose-us h2 {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}
.choose-us-content {
	text-align: center;
	padding: 0px 20px;
}
.choose-us-content i {
	font-size: 40px;
}
.choose-us-content h3 {
	font-weight: bold;
	margin: 15px 0px;
	text-transform: capitalize;
}
.choose-us-content p {
	line-height: 25px;
	font-size: 16px;
}
/* Choose area end */

/* Footer area start */
.about-area{}
.single-box{}
.single-box h4 {
	text-transform: uppercase;
	margin-bottom: 15px;
	/* border-left: 1px solid tomato; */
	padding-left: 5px;
}
.single-box ul{}
.single-box ul li {
	margin-bottom: 5px;
}
.single-box ul li a {
	font-style: oblique;
	color: #000;
	display: block;
    transition: .9s;
}
.single-box ul li a:hover{
    color: tomato;
}
.single-box ul li:last-of-type{
    margin-bottom: 0px;
}
.about-area .single-box:last-of-type ul li:first-of-type{
    display: flex;
}
.about-area .single-box:last-of-type ul li:first-of-type a {
	margin-right: 25px;
}
.about-area .single-box:last-of-type ul li i {
    font-size: 20px;
}
.about-area .single-box:last-of-type ul li span{
    margin-left: 10px;
}
/* .about-area .single-box:last-of-type ul li{
    display: inline;
} */
.footer {
	margin-top: 45px;
	text-align: center;
	background: #ddd;
	padding: 10px 0;
}
 .footer p{
	font-size: 16px;
 }
/* Footer area end */